

body{
    margin: auto;
    width: 100%;
}

.jumbotron-custom{
    padding-bottom: 10px;
}

.title-display{
    text-align: center;
    
}

.current-time{
    text-align: center;
}


.custom-input{
    align-content: center;
    width: 80%;
    margin: 10px;
}

.custom-btn{
    width: 15%;
}


.custom-searches-card{
    text-align: left;
    background-color: white;
    width: 100%;
    float: left;
    height: auto;
    padding:5px;
    margin:10px;
   
}

#previousSearchesBtn{
    margin: 10px;
    border-radius: 25px;
    width: 250px;
}

.created{
    margin: 10px;
}

#future-conditions-card{
   justify-content: center;
   display: flex;
   flex-direction: row;
   width: 100%;
}

.title{
    text-align: center;
    justify-content: center;
}


.today-weather{
    align-items: center;
    border: 5px solid ;
    width: 80%;
    margin: auto;
}

.next-five{
    width: auto;
    border: 5px solid ;
    
}
